
<style>
  #shopify-section-header-template-2,#shopify-section-footer-template,.tt-breadcrumb,.tt-back-to-top{
    display:none;
  }
  .flipbook-viewport .containermy {
   position: static !important;
    display: flex;
    height:106vh;
    display:none;
    margin-top:-6vh;
}
.opr{
      position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:2vh;
}
  .btn{
    margin-right:20px;
  }
</style>
<script src="/cdn/shop/t/38/assets/jquery.min.js" type="text/javascript"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.min.js" type="text/javascript" ></script>
<script src="/cdn/shop/t/38/assets/pdf.worker.min.js" type="text/javascript" ></script>
<script  src="/cdn/shop/t/38/assets/modernizr.2.5.3.min.js"  type="text/javascript" ></script>

<div class="flipbook-viewport">
	<div class="containermy">
		<div id="flipbook" class="flipbook">
			
		</div>
	</div>
</div>
<div class="opr">
  
  <button  onclick=' $("#flipbook").turn("previous");' class="btn"><span>previous</span></button>
  <button  onclick=' $("#flipbook").turn("next");' class="btn"><span>next</span></button>
  <span>all:</span><span id="allpage">-</span>
</div>



<script type="module">
  var hasPage = 8;
  var countPage = 0;
  var pfdObj =""
//设置基本参数
function loadApp() {

  let innerWidth = window.innerWidth;
  let innerHeight =  window.innerHeight*0.9;
	$('#flipbook').turn({
			// Width
			width:innerWidth/innerHeight<1680/1190?innerWidth:innerHeight*1680/1140,
			// Height
			height:innerWidth/innerHeight<1680/1190?innerWidth/1680*1190:innerHeight,
			// Elevation
			elevation: 50,
            duration:1000,
			// Enable gradients
			gradients: true,
			// Auto center this flipbook
			autoCenter: true,
            when: {
            	turning: function(event, page, pageObject) {
            		
                  if((page+6)>hasPage&&hasPage<countPage){
                     console.log("当前拥有：",hasPage)
                     console.log("当前页面：",page)
                    setTimeout( async()=>{
                      for(let i=0;i<10;i++){
                         $("#flipbook").turn("addPage", await createVanvas(pfdObj,++hasPage));
                      }
                    },1500)
                     
                  }
            	}
            }
 
	});
}
  //turn加载
function turnInit(){
   yepnope({
      test : Modernizr.csstransforms,
      yep: ['/cdn/shop/t/38/assets/turn.min.js'],
      nope: ['/cdn/shop/t/38/assets/turn.html4.min.js'],
      both: ['/cdn/shop/t/38/assets/basic16.css'],
      complete: loadApp
    });
}


  

  var createVanvas = function (pdf,pageNumber){
    console.log("渲染页面是：",pageNumber)
   return  pdf.getPage(pageNumber).then(function(page) {
        var scale = 2;
        var viewport = page.getViewport({scale: scale});
        var canvas = document.createElement('canvas');
         canvas.setAttribute("index",pageNumber);
         // if(pageNumber%2==1){
         //    canvas.addEventListener("click", function(){
         //     
              
         //    }, false)
         //  }else{
         //    canvas.addEventListener("click", function(){
         //      $("#flipbook").turn("previous");
         //    }, false)
         //  }
          var context = canvas.getContext('2d');
          canvas.height = viewport.height;
          canvas.width = viewport.width;
         // Render PDF page into canvas context
          var renderContext = {
            canvasContext: context,
            viewport: viewport
          };
          var renderTask = page.render(renderContext);
          return renderTask.promise.then(function () {
             // $("#flipbook").turn("addPage", canvas);
            return canvas
          });
    });
  }


  var url = "{{metaobject.pdf_link}}";
  var { pdfjsLib } = globalThis;
  pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.mjs';
  var loadingTask = pdfjsLib.getDocument(url);

  loadingTask.promise.then(async function(pdf) {
    
        pfdObj = pdf;
       countPage = pdf.numPages;
      $("#allpage").text(countPage)
      let  indexPage = (countPage>hasPage)?hasPage:countPage;
      for(let i =1;i<=indexPage;i++){
          let thisIndex = i;
        let canvas =await  createVanvas(pdf,thisIndex);
         document.getElementById("flipbook").append(canvas);
        
      }
     turnInit();
    setTimeout(()=>{
      $(".containermy").css("display","flex");
    },200)
      
   
  }, function (reason) {
    console.error(reason);
  });




  



  
</script>





