
<style >
  .CATALOG_con{
    padding:40px 15% 20px 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

    .CATALOG_con>a{
      margin-bottom:20px;
      width:50%;
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
    }
  .CATALOG_con>a>img{
     width:30%;
    height: fit-content;
  }
  .CATALOG_con>a>span{
     flex:1;
    padding:0 10px
  }

  .CATALOG_con>a>span>div:nth-child(1){
     font-weight: 700;
    margin-bottom: 5px;
  }
  
</style>

<div class="CATALOG_con">
      {% for item in shop.metaobjects.catalog.values %}
          <a href="{{ item.system.url }}"  target="_blank">
            <img  src="{{ item.image }}" alt="" />
            <span>
              <div>{{ item.title }}</div>
              <div>{{ item.description }}</div>
            </span>
          </a>
      {% endfor %}
</div>



 



 